
<div class="elementToProof" style='line-height: 20px; margin-top: 1em; margin-bottom: 1em; font-family: "Poppins Medium"; font-size: 12pt; color: rgb(51, 51, 51);'>
Hola {name},</div>
<div class="elementToProof" style='line-height: 20px; margin-top: 1em; margin-bottom: 1em; font-family: "Poppins Medium"; font-size: 12pt; color: rgb(51, 51, 51);'>
El <b>White Iron (hierro blanco o acero blanco)</b> es ampliamente utilizado en minería por su alta resistencia a la
<b>abrasión e impacto</b>.</div>
<div class="elementToProof" style='line-height: 20px; margin-top: 1em; margin-bottom: 1em; font-family: "Poppins Medium"; font-size: 12pt; color: rgb(51, 51, 51);'>
Sin embargo, es importante considerar que bajo este nombre existen <b>hasta 8 materiales diferentes según ASTM A532 (3 clases y 4 tipos)</b>, con propiedades significativamente distintas.</div>
<div class="elementToProof" style='font-family: "Poppins Medium"; font-size: 12pt; color: rgb(51, 51, 51);'>
<img data-outlook-trace="F:1|T:1" height="231" id="image_0" size="475768" src="{images[0]}" style="width: 637.836px; height: 231px; max-width: 555px;" width="637"/></div>
<div class="elementToProof" style='line-height: 20px; margin-top: 1em; margin-bottom: 1em; font-family: "Poppins Medium"; font-size: 12pt; color: rgb(51, 51, 51);'>
En aplicaciones de liners, el más común es el <b>Clase II Tipo B (14%–18% Cr)</b>.</div>
<div class="elementToProof" style='line-height: 20px; margin-top: 1em; margin-bottom: 1em; font-family: "Poppins Medium"; font-size: 12pt; color: rgb(51, 51, 51);'>
La pregunta clave es:</div>
<div class="elementToProof" style='line-height: 20px; margin-top: 1em; margin-bottom: 1em; font-family: "Poppins Medium"; font-size: 12pt; color: rgb(51, 51, 51);'>
<b>¿saben exactamente qué tipo de White Iron están utilizando hoy?</b></div>
<div class="elementToProof" style='line-height: 20px; margin-top: 1em; margin-bottom: 1em; font-family: "Poppins Medium"; font-size: 12pt; color: rgb(51, 51, 51);'>
<br/>
Y más importante aún: <b>¿ese material realmente les está dando la vida útil que necesitan?</b></div>
<table data-editing-info='{"topBorderColor":"#ABABAB","bottomBorderColor":"#ABABAB","verticalBorderColor":"#ABABAB","hasHeaderRow":false,"hasFirstColumn":false,"hasBandedRows":false,"hasBandedColumns":false,"bgColorEven":null,"bgColorOdd":"#EEEEEE","headerRowColor":"#ABABAB","tableBorderFormat":0,"verticalAlign":null}' id="table_0" style="margin-bottom: 1px; box-sizing: border-box; border-collapse: collapse; border-spacing: 0px;">
<tbody>
<tr>
<td data-editing-info='{"vAlignOverride":true}' style="text-align: center; border-width: 1px; border-style: solid; border-color: rgb(171, 171, 171); vertical-align: middle; width: 120px; height: 22px; min-width: 15px; box-sizing: border-box;">
<div style='text-align: center; font-family: "Poppins Medium"; font-size: 16px; color: rgb(51, 51, 51);'>
<img data-outlook-trace="F:1|T:1" height="232" id="image_1" size="1274654" src="{images[1]}" style="width: 309.232px; height: 232px; max-width: 1017px;" width="309"/></div>
</td>
<td data-editing-info='{"vAlignOverride":true}' style="text-align: center; border-width: 1px; border-style: solid; border-color: rgb(171, 171, 171); vertical-align: middle; width: 120px; height: 22px; min-width: 15px; box-sizing: border-box;">
<div style='text-align: center; font-family: "Poppins Medium"; font-size: 16px; color: rgb(51, 51, 51);'>
<img data-outlook-trace="F:1|T:1" height="229" id="image_3" size="2559142" src="{images[2]}" style="width: 333px; height: 229px; max-width: 1017px;" width="333"/></div>
</td>
</tr>
<tr>
<td data-editing-info='{"vAlignOverride":true}' style="text-align: center; border-width: 1px; border-style: solid; border-color: rgb(171, 171, 171); vertical-align: middle; width: 120px; height: 22px; min-width: 15px; box-sizing: border-box;">
<div style='text-align: center; font-family: "Poppins Medium"; font-size: 12pt; color: rgb(51, 51, 51);'>
<img data-outlook-trace="F:1|T:1" height="156" id="image_2" size="1509879" src="{images[3]}" style="width: 322px; height: 156px; max-width: 709px;" width="322"/></div>
</td>
<td data-editing-info='{"vAlignOverride":true}' style="text-align: center; border-width: 1px; border-style: solid; border-color: rgb(171, 171, 171); vertical-align: middle; width: 120px; height: 22px; min-width: 15px; box-sizing: border-box;">
<div style='text-align: center; font-family: "Poppins Medium"; font-size: 12pt; color: rgb(51, 51, 51);'>
<img data-outlook-trace="F:1|T:1" height="161" id="image_4" src="{images[4]}" style="width: 153.4px; height: 161.4px; max-width: 709px;" width="153"/></div>
</td>
</tr>
</tbody>
</table>
<div class="elementToProof" style='font-family: "Poppins Medium"; font-size: 12pt; color: rgb(51, 51, 51);'>
<br/>
</div>
<div class="elementToProof" id="Signature">
<div class="elementToProof" style='font-family: "Poppins Medium"; font-size: 12pt; color: rgb(51, 51, 51);'>
Quedo atento para apoyar en cualquier revisión técnica o validación de material.</div>
<div class="elementToProof" style='font-family: "Poppins Medium"; font-size: 12pt; color: rgb(51, 51, 51);'>
<br/>
</div>
<div class="elementToProof" style='font-family: "Poppins Medium"; font-size: 12pt; color: rgb(51, 51, 51);'>
<span style="font-family: Poppins;">Atentamente</span>,</div>
<div class="elementToProof" style='font-family: "Poppins SemiBold"; font-size: 12pt; color: rgb(51, 51, 51);'>
Ing. José Juan Domínguez López</div>
<div class="elementToProof" style='font-family: "Poppins Medium"; color: rgb(51, 51, 51);'>
<span style='font-family: "Poppins Light"; font-size: 11pt;'>Gerente de Ventas Perú</span><span style="font-size: 12pt;">  
<a class="OWAAutoLink" href="https://www.linkedin.com/in/jose-juan-dom%C3%ADnguez-l%C3%B3pez/" id="OWA1eebf969-01a9-ecf8-7b1f-99cfde556822" style="margin-top: 0px; margin-bottom: 0px;" target="_blank">
<img data-outlook-trace="F:1|T:1" height="16" id="x_image_0" src="{images[5]}" style="width: 65.5238px; height: 16px;" width="65"/></a></span></div>
<div class="elementToProof" style="font-family: Poppins; font-size: 11pt; color: rgb(51, 51, 51);">
Cel: +51 970 12 70 70</div>
<div class="elementToProof" style='font-family: "Poppins Medium"; font-size: 10pt; color: rgb(51, 51, 51);'>
<a class="OWAAutoLink" href="https://int-ellecorporation.com/es/" id="OWAe45662da-ea79-73f6-b919-7e7388e54fee" style="margin-top: 0px; margin-bottom: 0px;" target="_blank">https://int-ellecorporation.com/es/</a></div>
<p class="elementToProof" style="background-color: white; margin-top: 1em; margin-bottom: 1em;">
 <span style='font-family: "Poppins Medium"; font-size: 12pt; color: rgb(51, 51, 51);'><img data-outlook-trace="F:1|T:1" height="55" id="x_image_1" src="{images[6]}" style="width: 176.957px; height: 55px; max-width: 444px; margin-top: 0px; margin-bottom: 0px;" width="176"/></span></p>
</div>
