<div class="elementToProof" style="font-family: &quot;Poppins Medium&quot;; font-size: 12pt; color: rgb(51, 51, 51);">
    Hola {name}, espero te encuentres muy bien, Feliz día!!
</div>
<div class="elementToProof" style="font-family: &quot;Poppins Medium&quot;; font-size: 12pt; color: rgb(51, 51, 51);">
    <br>
</div>

<div class="elementToProof"
    style="direction: ltr; font-family: &quot;Poppins Medium&quot;; font-size: 12pt; color: rgb(51, 51, 51);">
    Quiero compartir contigo un listado de experiencias de <b>Int-elle Corporation</b>, empresa canadiense,
    dedicada a mejorar las condiciones de desgaste en operaciones mineras de alta producción
</div>
<p style="direction: ltr; font-family: &quot;Poppins Medium&quot;; font-size: 12pt; color: rgb(51, 51, 51);">
    Recuerda que mientras más paradas tengan menos producción anual conseguirán
</p>

<table id="x_x_table_0"
    style="direction: ltr; width: 1741.83px; height: 1258px; box-sizing: border-box; border-collapse: collapse; border-spacing: 0px;">
    <tbody>
        <tr>
            <td
                style="width: 215.797px; height: 56px; direction: ltr; text-align: center; border-width: 1px; border-style: solid; border-color: rgb(171, 171, 171); vertical-align: middle; word-break: break-word; box-sizing: border-box;">
                <div
                    style="direction: ltr; text-align: center; font-family: &quot;Poppins Medium&quot;; font-size: 10pt; color: rgb(51, 51, 51);">
                    <b>Producción</b>
                </div>
            </td>
            <td
                style="width: 120.172px; height: 56px; direction: ltr; text-align: center; border-width: 1px; border-style: solid; border-color: rgb(171, 171, 171); vertical-align: middle; word-break: break-word; box-sizing: border-box;">
                <div
                    style="direction: ltr; text-align: center; font-family: &quot;Poppins Medium&quot;; font-size: 10pt; color: rgb(51, 51, 51);">
                    <b>Vida útil Antes</b>
                </div>
            </td>
            <td
                style="width: 238.469px; height: 56px; direction: ltr; text-align: center; border-width: 1px; border-style: solid; border-color: rgb(171, 171, 171); vertical-align: middle; word-break: break-word; box-sizing: border-box;">
                <div
                    style="direction: ltr; text-align: center; font-family: &quot;Poppins Medium&quot;; font-size: 10pt; color: rgb(51, 51, 51);">
                    <b>Vida útil Ahora ( Int-elle )</b>
                </div>
            </td>
            <td
                style="width: 183.422px; height: 56px; direction: ltr; text-align: center; border-width: 1px; border-style: solid; border-color: rgb(171, 171, 171); vertical-align: middle; word-break: break-word; box-sizing: border-box;">
                <div
                    style="direction: ltr; text-align: center; font-family: &quot;Poppins Medium&quot;; font-size: 10pt; color: rgb(51, 51, 51);">
                    <b>Material Recubrimiento</b>
                </div>
            </td>
            <td
                style="width: 236.938px; height: 56px; direction: ltr; text-align: center; border-width: 1px; border-style: solid; border-color: rgb(171, 171, 171); vertical-align: middle; word-break: break-word; box-sizing: border-box;">
                <div
                    style="direction: ltr; text-align: center; font-family: &quot;Poppins Medium&quot;; font-size: 10pt; color: rgb(51, 51, 51);">
                    <b>Equipo</b>
                </div>
            </td>
            <td
                style="width: 171.016px; height: 56px; direction: ltr; text-align: center; border-width: 1px; border-style: solid; border-color: rgb(171, 171, 171); vertical-align: middle; word-break: break-word; box-sizing: border-box;">
                <div
                    style="direction: ltr; text-align: center; font-family: &quot;Poppins Medium&quot;; font-size: 10pt; color: rgb(51, 51, 51);">
                    <b>Empresa</b>
                </div>
            </td>
            <td
                style="width: 255.766px; height: 56px; direction: ltr; text-align: center; border-width: 1px; border-style: solid; border-color: rgb(171, 171, 171); vertical-align: middle; word-break: break-word; box-sizing: border-box;">
                <div
                    style="direction: ltr; text-align: center; font-family: &quot;Poppins Medium&quot;; font-size: 10pt; color: rgb(51, 51, 51);">
                    <b>Ubicación</b>
                </div>
            </td>
            <td
                style="width: 319.25px; height: 56px; direction: ltr; text-align: center; border-width: 1px; border-style: solid; border-color: rgb(171, 171, 171); vertical-align: middle; word-break: break-word; box-sizing: border-box;">
                <div
                    style="direction: ltr; text-align: center; font-family: &quot;Poppins Medium&quot;; font-size: 10pt; color: rgb(51, 51, 51);">
                    <b>Foto</b>
                </div>
            </td>
        </tr>
        <tr>
            <td
                style="width: 215.797px; height: 157px; direction: ltr; text-align: center; border-width: 1px; border-style: solid; border-color: rgb(171, 171, 171); vertical-align: middle; word-break: break-word; box-sizing: border-box;">
                <div
                    style="direction: ltr; text-align: center; font-family: &quot;Poppins Medium&quot;; font-size: 10pt; color: rgb(51, 51, 51);">
                    7.000 t/h mineral de hierro</div>
            </td>
            <td
                style="width: 120.172px; height: 157px; direction: ltr; text-align: center; border-width: 1px; border-style: solid; border-color: rgb(171, 171, 171); vertical-align: middle; word-break: break-word; box-sizing: border-box;">
                <div
                    style="direction: ltr; text-align: center; font-family: &quot;Poppins Medium&quot;; font-size: 10pt; color: rgb(51, 51, 51);">
                    6 a 7 semanas</div>
            </td>
            <td
                style="width: 238.469px; height: 157px; direction: ltr; text-align: center; border-width: 1px; border-style: solid; border-color: rgb(171, 171, 171); vertical-align: middle; word-break: break-word; box-sizing: border-box;">
                <div
                    style="direction: ltr; text-align: center; font-family: &quot;Poppins Medium&quot;; font-size: 10pt; color: rgb(51, 51, 51);">
                    9 semanas</div>
            </td>
            <td
                style="width: 183.422px; height: 157px; direction: ltr; text-align: center; border-width: 1px; border-style: solid; border-color: rgb(171, 171, 171); vertical-align: middle; word-break: break-word; box-sizing: border-box;">
                <div
                    style="direction: ltr; text-align: center; font-family: &quot;Poppins Medium&quot;; font-size: 10pt; color: rgb(51, 51, 51);">
                    Fundición blanca al alto cromo + Carburo de Cromo</div>
            </td>
            <td
                style="width: 236.938px; height: 157px; direction: ltr; text-align: center; border-width: 1px; border-style: solid; border-color: rgb(171, 171, 171); vertical-align: middle; word-break: break-word; box-sizing: border-box;">
                <div
                    style="direction: ltr; text-align: center; font-family: &quot;Poppins Medium&quot;; font-size: 10pt; color: rgb(51, 51, 51);">
                    Grizzly o parrilla de impacto</div>
            </td>
            <td
                style="width: 171.016px; height: 157px; direction: ltr; text-align: center; border-width: 1px; border-style: solid; border-color: rgb(171, 171, 171); vertical-align: middle; word-break: break-word; box-sizing: border-box;">
                <div
                    style="direction: ltr; text-align: center; font-family: &quot;Poppins Medium&quot;; font-size: 10pt; color: rgb(51, 51, 51);">
                    Arcelor Mittal</div>
            </td>
            <td
                style="width: 255.766px; height: 157px; direction: ltr; text-align: center; border-width: 1px; border-style: solid; border-color: rgb(171, 171, 171); vertical-align: middle; word-break: break-word; box-sizing: border-box;">
                <div
                    style="direction: ltr; text-align: center; font-family: &quot;Poppins Medium&quot;; font-size: 10pt; color: rgb(51, 51, 51);">
                    Quebec, Canadá </div>
            </td>
            <td
                style="width: 319.25px; height: 157px; direction: ltr; text-align: center; border-width: 1px; border-style: solid; border-color: rgb(171, 171, 171); vertical-align: middle; word-break: break-word; box-sizing: border-box;">
                <div
                    style="direction: ltr; text-align: center; font-family: &quot;Poppins Medium&quot;; font-size: 12pt; color: rgb(51, 51, 51);">
                    <img id="x_x_image_3" style="max-width: 1870px;" data-outlook-trace="F:3|T:3" src="{images[0]}">
                </div>
            </td>
        </tr>
        <tr>
            <td
                style="width: 215.797px; height: 178px; direction: ltr; text-align: center; border-width: 1px; border-style: solid; border-color: rgb(171, 171, 171); vertical-align: middle; word-break: break-word; box-sizing: border-box;">
                <div
                    style="direction: ltr; text-align: center; font-family: &quot;Poppins Medium&quot;; font-size: 10pt; color: rgb(51, 51, 51);">
                    1.5 Mt/a o pellets de mineral de hierro</div>
            </td>
            <td
                style="width: 120.172px; height: 178px; direction: ltr; text-align: center; border-width: 1px; border-style: solid; border-color: rgb(171, 171, 171); vertical-align: middle; word-break: break-word; box-sizing: border-box;">
                <div
                    style="direction: ltr; text-align: center; font-family: &quot;Poppins Medium&quot;; font-size: 10pt; color: rgb(51, 51, 51);">
                    6 meses</div>
            </td>
            <td
                style="width: 238.469px; height: 178px; direction: ltr; text-align: center; border-width: 1px; border-style: solid; border-color: rgb(171, 171, 171); vertical-align: middle; word-break: break-word; box-sizing: border-box;">
                <div
                    style="direction: ltr; text-align: center; font-family: &quot;Poppins Medium&quot;; font-size: 10pt; color: rgb(51, 51, 51);">
                    +12 meses</div>
            </td>
            <td
                style="width: 183.422px; height: 178px; direction: ltr; text-align: center; border-width: 1px; border-style: solid; border-color: rgb(171, 171, 171); vertical-align: middle; word-break: break-word; box-sizing: border-box;">
                <div
                    style="direction: ltr; text-align: center; font-family: &quot;Poppins Medium&quot;; font-size: 10pt; color: rgb(51, 51, 51);">
                    Carburo de Cromo</div>
            </td>
            <td
                style="width: 236.938px; height: 178px; direction: ltr; text-align: center; border-width: 1px; border-style: solid; border-color: rgb(171, 171, 171); vertical-align: middle; word-break: break-word; box-sizing: border-box;">
                <div
                    style="direction: ltr; text-align: center; font-family: &quot;Poppins Medium&quot;; font-size: 10pt; color: rgb(51, 51, 51);">
                    Alimentador Vibratorio</div>
            </td>
            <td
                style="width: 171.016px; height: 178px; direction: ltr; text-align: center; border-width: 1px; border-style: solid; border-color: rgb(171, 171, 171); vertical-align: middle; word-break: break-word; box-sizing: border-box;">
                <div
                    style="direction: ltr; text-align: center; font-family: &quot;Poppins Medium&quot;; font-size: 10pt; color: rgb(51, 51, 51);">
                    Arcelor Mittal</div>
            </td>
            <td
                style="width: 255.766px; height: 178px; direction: ltr; text-align: center; border-width: 1px; border-style: solid; border-color: rgb(171, 171, 171); vertical-align: middle; word-break: break-word; box-sizing: border-box;">
                <div
                    style="direction: ltr; text-align: center; font-family: &quot;Poppins Medium&quot;; font-size: 10pt; color: rgb(51, 51, 51);">
                    Lázaro Cárdenas, México</div>
            </td>
            <td
                style="width: 319.25px; height: 178px; direction: ltr; text-align: center; border-width: 1px; border-style: solid; border-color: rgb(171, 171, 171); vertical-align: middle; word-break: break-word; box-sizing: border-box;">
                <div
                    style="direction: ltr; text-align: center; font-family: &quot;Poppins Medium&quot;; font-size: 10pt; color: rgb(51, 51, 51);">
                    <img id="x_x_image_2" width="274" height="169" style="width: 274px; height: 169px;"
                        data-outlook-trace="F:3|T:3" src="{images[1]}">
                </div>
            </td>
        </tr>
        <tr>
            <td
                style="width: 215.797px; height: 116px; direction: ltr; text-align: center; border-width: 1px; border-style: solid; border-color: rgb(171, 171, 171); vertical-align: middle; word-break: break-word; box-sizing: border-box;">
                <div
                    style="direction: ltr; text-align: center; font-family: &quot;Poppins Medium&quot;; font-size: 10pt; color: rgb(51, 51, 51);">
                    5.500 t/h Cobre / Nickel</div>
            </td>
            <td
                style="width: 120.172px; height: 116px; direction: ltr; text-align: center; border-width: 1px; border-style: solid; border-color: rgb(171, 171, 171); vertical-align: middle; word-break: break-word; box-sizing: border-box;">
                <div
                    style="direction: ltr; text-align: center; font-family: &quot;Poppins Medium&quot;; font-size: 10pt; color: rgb(51, 51, 51);">
                    6 meses</div>
            </td>
            <td
                style="width: 238.469px; height: 116px; direction: ltr; text-align: center; border-width: 1px; border-style: solid; border-color: rgb(171, 171, 171); vertical-align: middle; word-break: break-word; box-sizing: border-box;">
                <div
                    style="direction: ltr; text-align: center; font-family: &quot;Poppins Medium&quot;; font-size: 10pt; color: rgb(51, 51, 51);">
                    +9 meses</div>
            </td>
            <td
                style="width: 183.422px; height: 116px; direction: ltr; text-align: center; border-width: 1px; border-style: solid; border-color: rgb(171, 171, 171); vertical-align: middle; word-break: break-word; box-sizing: border-box;">
                <div
                    style="direction: ltr; text-align: center; font-family: &quot;Poppins Medium&quot;; font-size: 10pt; color: rgb(51, 51, 51);">
                    Carburo de Cromo</div>
            </td>
            <td
                style="width: 236.938px; height: 116px; direction: ltr; text-align: center; border-width: 1px; border-style: solid; border-color: rgb(171, 171, 171); vertical-align: middle; word-break: break-word; box-sizing: border-box;">
                <div
                    style="direction: ltr; text-align: center; font-family: &quot;Poppins Medium&quot;; font-size: 10pt; color: rgb(51, 51, 51);">
                    Chute alimentación y descarga de Alimentador Vibratorio</div>
            </td>
            <td
                style="width: 171.016px; height: 116px; direction: ltr; text-align: center; border-width: 1px; border-style: solid; border-color: rgb(171, 171, 171); vertical-align: middle; word-break: break-word; box-sizing: border-box;">
                <div
                    style="direction: ltr; text-align: center; font-family: &quot;Poppins Medium&quot;; font-size: 10pt; color: rgb(51, 51, 51);">
                    Vale</div>
            </td>
            <td
                style="width: 255.766px; height: 116px; direction: ltr; text-align: center; border-width: 1px; border-style: solid; border-color: rgb(171, 171, 171); vertical-align: middle; word-break: break-word; box-sizing: border-box;">
                <div
                    style="direction: ltr; text-align: center; font-family: &quot;Poppins Medium&quot;; font-size: 10pt; color: rgb(51, 51, 51);">
                    Ontario, Canadá </div>
            </td>
            <td
                style="width: 319.25px; height: 116px; direction: ltr; text-align: center; border-width: 1px; border-style: solid; border-color: rgb(171, 171, 171); vertical-align: middle; word-break: break-word; box-sizing: border-box;">
                <div
                    style="direction: ltr; text-align: center; font-family: &quot;Poppins Medium&quot;; font-size: 10pt; color: rgb(51, 51, 51);">
                    <img id="x_x_image_4" width="275" height="106" style="width: 275px; height: 106px;"
                        data-outlook-trace="F:3|T:3" src="{images[2]}">
                </div>
            </td>
        </tr>
        <tr>
            <td
                style="width: 215.797px; height: 199px; direction: ltr; text-align: center; border-width: 1px; border-style: solid; border-color: rgb(171, 171, 171); vertical-align: middle; word-break: break-word; box-sizing: border-box;">
                <div
                    style="direction: ltr; text-align: center; font-family: &quot;Poppins Medium&quot;; font-size: 10pt; color: rgb(51, 51, 51);">
                    350 t/h Oro</div>
            </td>
            <td
                style="width: 120.172px; height: 199px; direction: ltr; text-align: center; border-width: 1px; border-style: solid; border-color: rgb(171, 171, 171); vertical-align: middle; word-break: break-word; box-sizing: border-box;">
                <div
                    style="direction: ltr; text-align: center; font-family: &quot;Poppins Medium&quot;; font-size: 10pt; color: rgb(51, 51, 51);">
                    2 a 3 meses</div>
            </td>
            <td
                style="width: 238.469px; height: 199px; direction: ltr; text-align: center; border-width: 1px; border-style: solid; border-color: rgb(171, 171, 171); vertical-align: middle; word-break: break-word; box-sizing: border-box;">
                <div
                    style="direction: ltr; text-align: center; font-family: &quot;Poppins Medium&quot;; font-size: 10pt; color: rgb(51, 51, 51);">
                    + 20 meses</div>
            </td>
            <td
                style="width: 183.422px; height: 199px; direction: ltr; text-align: center; border-width: 1px; border-style: solid; border-color: rgb(171, 171, 171); vertical-align: middle; word-break: break-word; box-sizing: border-box;">
                <div
                    style="direction: ltr; text-align: center; font-family: &quot;Poppins Medium&quot;; font-size: 10pt; color: rgb(51, 51, 51);">
                    Cerámica Vulcanizada</div>
            </td>
            <td
                style="width: 236.938px; height: 199px; direction: ltr; text-align: center; border-width: 1px; border-style: solid; border-color: rgb(171, 171, 171); vertical-align: middle; word-break: break-word; box-sizing: border-box;">
                <div
                    style="direction: ltr; text-align: center; font-family: &quot;Poppins Medium&quot;; font-size: 10pt; color: rgb(51, 51, 51);">
                    APEX</div>
            </td>
            <td
                style="width: 171.016px; height: 199px; direction: ltr; text-align: center; border-width: 1px; border-style: solid; border-color: rgb(171, 171, 171); vertical-align: middle; word-break: break-word; box-sizing: border-box;">
                <div
                    style="direction: ltr; text-align: center; font-family: &quot;Poppins Medium&quot;; font-size: 10pt; color: rgb(51, 51, 51);">
                    Anaconda Mining</div>
            </td>
            <td
                style="width: 255.766px; height: 199px; direction: ltr; text-align: center; border-width: 1px; border-style: solid; border-color: rgb(171, 171, 171); vertical-align: middle; word-break: break-word; box-sizing: border-box;">
                <div
                    style="direction: ltr; text-align: center; font-family: &quot;Poppins Medium&quot;; font-size: 10pt; color: rgb(51, 51, 51);">
                    Provincias Atlánticas, Canadá </div>
            </td>
            <td
                style="width: 319.25px; height: 199px; direction: ltr; text-align: center; border-width: 1px; border-style: solid; border-color: rgb(171, 171, 171); vertical-align: middle; word-break: break-word; box-sizing: border-box;">
                <div class="elementToProof" style="direction: ltr; text-align: center; font-size: 10pt;">
                    <img id="x_x_image_5" width="276" height="174" style="width: 276px; height: 174px;"
                        data-outlook-trace="F:3|T:3" src="{images[3]}">
                </div>
            </td>
        </tr>
        <tr>
            <td
                style="width: 215.797px; height: 219px; direction: ltr; text-align: center; border-width: 1px; border-style: solid; border-color: rgb(171, 171, 171); vertical-align: middle; word-break: break-word; box-sizing: border-box;">
                <div
                    style="direction: ltr; text-align: center; font-family: &quot;Poppins Medium&quot;; font-size: 10pt; color: rgb(51, 51, 51);">
                    132 m3 de coque</div>
            </td>
            <td
                style="width: 120.172px; height: 219px; direction: ltr; text-align: center; border-width: 1px; border-style: solid; border-color: rgb(171, 171, 171); vertical-align: middle; word-break: break-word; box-sizing: border-box;">
                <div
                    style="direction: ltr; text-align: center; font-family: &quot;Poppins Medium&quot;; font-size: 10pt; color: rgb(51, 51, 51);">
                    2 a 3 años</div>
            </td>
            <td
                style="width: 238.469px; height: 219px; direction: ltr; text-align: center; border-width: 1px; border-style: solid; border-color: rgb(171, 171, 171); vertical-align: middle; word-break: break-word; box-sizing: border-box;">
                <div
                    style="direction: ltr; text-align: center; font-family: &quot;Poppins Medium&quot;; font-size: 10pt; color: rgb(51, 51, 51);">
                    8 años ( tiempo garantizado por Int-elle )</div>
            </td>
            <td
                style="width: 183.422px; height: 219px; direction: ltr; text-align: center; border-width: 1px; border-style: solid; border-color: rgb(171, 171, 171); vertical-align: middle; word-break: break-word; box-sizing: border-box;">
                <div
                    style="direction: ltr; text-align: center; margin: 0px; font-family: &quot;Poppins Medium&quot;; font-size: 10pt; color: rgb(51, 51, 51);">
                    Cerámica Vulcanizada</div>
            </td>
            <td
                style="width: 236.938px; height: 219px; direction: ltr; text-align: center; border-width: 1px; border-style: solid; border-color: rgb(171, 171, 171); vertical-align: middle; word-break: break-word; box-sizing: border-box;">
                <div
                    style="direction: ltr; text-align: center; font-family: &quot;Poppins Medium&quot;; font-size: 10pt; color: rgb(51, 51, 51);">
                    Silo de almacenamiento de coque</div>
            </td>
            <td
                style="width: 171.016px; height: 219px; direction: ltr; text-align: center; border-width: 1px; border-style: solid; border-color: rgb(171, 171, 171); vertical-align: middle; word-break: break-word; box-sizing: border-box;">
                <div
                    style="direction: ltr; text-align: center; font-family: &quot;Poppins Medium&quot;; font-size: 10pt; color: rgb(51, 51, 51);">
                    Arcelor Mittal</div>
            </td>
            <td
                style="width: 255.766px; height: 219px; direction: ltr; text-align: center; border-width: 1px; border-style: solid; border-color: rgb(171, 171, 171); vertical-align: middle; word-break: break-word; box-sizing: border-box;">
                <div
                    style="direction: ltr; text-align: center; margin: 0px; font-family: &quot;Poppins Medium&quot;; font-size: 10pt; color: rgb(51, 51, 51);">
                    Lázaro Cárdenas, México</div>
            </td>
            <td
                style="width: 319.25px; height: 219px; direction: ltr; text-align: center; border-width: 1px; border-style: solid; border-color: rgb(171, 171, 171); vertical-align: middle; word-break: break-word; box-sizing: border-box;">
                <div
                    style="direction: ltr; text-align: center; font-family: &quot;Poppins Medium&quot;; font-size: 12pt; color: rgb(51, 51, 51);">
                    <img id="x_image_0" width="278" height="209" style="width: 278px; height: 209px;"
                        data-outlook-trace="F:2|T:2" src="{images[4]}">
                </div>
            </td>
        </tr>
        <tr>
            <td
                style="width: 215.797px; height: 199px; direction: ltr; text-align: center; border-width: 1px; border-style: solid; border-color: rgb(171, 171, 171); vertical-align: middle; word-break: break-word; box-sizing: border-box;">
                <div
                    style="direction: ltr; text-align: center; font-family: &quot;Poppins Medium&quot;; font-size: 10pt; color: rgb(51, 51, 51);">
                    +6.000 t/h Cobre ( en proceso de fabricación )</div>
            </td>
            <td
                style="width: 120.172px; height: 199px; direction: ltr; text-align: center; border-width: 1px; border-style: solid; border-color: rgb(171, 171, 171); vertical-align: middle; word-break: break-word; box-sizing: border-box;">
                <div
                    style="direction: ltr; text-align: center; font-family: &quot;Poppins Medium&quot;; font-size: 10pt; color: rgb(51, 51, 51);">
                    3 a 4 meses</div>
            </td>
            <td
                style="width: 238.469px; height: 199px; direction: ltr; text-align: center; border-width: 1px; border-style: solid; border-color: rgb(171, 171, 171); vertical-align: middle; word-break: break-word; box-sizing: border-box;">
                <div
                    style="direction: ltr; text-align: center; font-family: &quot;Poppins Medium&quot;; font-size: 10pt; color: rgb(51, 51, 51);">
                    6 meses ( tiempo garantizado por Int-elle )</div>
            </td>
            <td
                style="width: 183.422px; height: 199px; direction: ltr; text-align: center; border-width: 1px; border-style: solid; border-color: rgb(171, 171, 171); vertical-align: middle; word-break: break-word; box-sizing: border-box;">
                <div
                    style="direction: ltr; text-align: center; font-family: &quot;Poppins Medium&quot;; font-size: 10pt; color: rgb(51, 51, 51);">
                    Cerámica Vulcanizada</div>
            </td>
            <td
                style="width: 236.938px; height: 199px; direction: ltr; text-align: center; border-width: 1px; border-style: solid; border-color: rgb(171, 171, 171); vertical-align: middle; word-break: break-word; box-sizing: border-box;">
                <div
                    style="direction: ltr; text-align: center; font-family: &quot;Poppins Medium&quot;; font-size: 10pt; color: rgb(51, 51, 51);">
                    APEX</div>
            </td>
            <td
                style="width: 171.016px; height: 199px; direction: ltr; text-align: center; border-width: 1px; border-style: solid; border-color: rgb(171, 171, 171); vertical-align: middle; word-break: break-word; box-sizing: border-box;">
                <div
                    style="direction: ltr; text-align: center; font-family: &quot;Poppins Medium&quot;; font-size: 10pt; color: rgb(51, 51, 51);">
                    Antamina</div>
            </td>
            <td
                style="width: 255.766px; height: 199px; direction: ltr; text-align: center; border-width: 1px; border-style: solid; border-color: rgb(171, 171, 171); vertical-align: middle; word-break: break-word; box-sizing: border-box;">
                <div
                    style="direction: ltr; text-align: center; font-family: &quot;Poppins Medium&quot;; font-size: 10pt; color: rgb(51, 51, 51);">
                    Perú
                </div>
            </td>
            <td
                style="width: 319.25px; height: 199px; direction: ltr; text-align: center; border-width: 1px; border-style: solid; border-color: rgb(171, 171, 171); vertical-align: middle; word-break: break-word; box-sizing: border-box;">
                <div
                    style="direction: ltr; text-align: center; font-family: &quot;Poppins Medium&quot;; font-size: 10pt; color: rgb(51, 51, 51);">
                    En proceso de fabricación
                </div>
            </td>
        </tr>
        <tr>
            <td
                style="width: 215.797px; height: 133px; direction: ltr; text-align: center; border-width: 1px; border-style: solid; border-color: rgb(171, 171, 171); vertical-align: middle; word-break: break-word; box-sizing: border-box;">
                <div
                    style="direction: ltr; text-align: center; font-family: &quot;Poppins Medium&quot;; font-size: 10pt; color: rgb(51, 51, 51);">
                    3.000 t/h mineral de hierro</div>
                <div
                    style="direction: ltr; text-align: center; font-family: &quot;Poppins Medium&quot;; font-size: 10pt; color: rgb(51, 51, 51);">
                    ( proceso adjudicado a otro proveedor )
                </div>
            </td>
            <td
                style="width: 120.172px; height: 133px; direction: ltr; text-align: center; border-width: 1px; border-style: solid; border-color: rgb(171, 171, 171); vertical-align: middle; word-break: break-word; box-sizing: border-box;">
                <div
                    style="direction: ltr; text-align: center; font-family: &quot;Poppins Medium&quot;; font-size: 10pt; color: rgb(51, 51, 51);">
                    6 semanas
                </div>
            </td>
            <td
                style="width: 238.469px; height: 133px; direction: ltr; text-align: center; border-width: 1px; border-style: solid; border-color: rgb(171, 171, 171); vertical-align: middle; word-break: break-word; box-sizing: border-box;">
                <div
                    style="direction: ltr; text-align: center; font-family: &quot;Poppins Medium&quot;; font-size: 10pt; color: rgb(51, 51, 51);">
                    12 semanas ( tiempo garantizado por Int-elle )
                </div>
            </td>
            <td
                style="width: 183.422px; height: 133px; direction: ltr; text-align: center; border-width: 1px; border-style: solid; border-color: rgb(171, 171, 171); vertical-align: middle; word-break: break-word; box-sizing: border-box;">
                <div
                    style="direction: ltr; text-align: center; font-family: &quot;Poppins Medium&quot;; font-size: 10pt; color: rgb(51, 51, 51);">
                    Cerámica Vulcanizada</div>
            </td>
            <td
                style="width: 236.938px; height: 133px; direction: ltr; text-align: center; border-width: 1px; border-style: solid; border-color: rgb(171, 171, 171); vertical-align: middle; word-break: break-word; box-sizing: border-box;">
                <div
                    style="direction: ltr; text-align: center; font-family: &quot;Poppins Medium&quot;; font-size: 10pt; color: rgb(51, 51, 51);">
                    Skirtboard</div>
            </td>
            <td
                style="width: 171.016px; height: 133px; direction: ltr; text-align: center; border-width: 1px; border-style: solid; border-color: rgb(171, 171, 171); vertical-align: middle; word-break: break-word; box-sizing: border-box;">
                <div
                    style="direction: ltr; text-align: center; font-family: &quot;Poppins Medium&quot;; font-size: 10pt; color: rgb(51, 51, 51);">
                    Shougang Hierro Perú </div>
            </td>
            <td
                style="width: 255.766px; height: 133px; direction: ltr; text-align: center; border-width: 1px; border-style: solid; border-color: rgb(171, 171, 171); vertical-align: middle; word-break: break-word; box-sizing: border-box;">
                <div
                    style="direction: ltr; text-align: center; font-family: &quot;Poppins Medium&quot;; font-size: 10pt; color: rgb(51, 51, 51);">
                    Marcona, Perú </div>
            </td>
            <td
                style="width: 319.25px; height: 133px; direction: ltr; text-align: center; border-width: 1px; border-style: solid; border-color: rgb(171, 171, 171); vertical-align: middle; word-break: break-word; box-sizing: border-box;">
                <div class="elementToProof"
                    style="direction: ltr; text-align: center; font-family: &quot;Poppins Medium&quot;; font-size: 10pt; color: rgb(51, 51, 51);">
                    <img id="x_x_image_6" width="281" height="124" style="width: 281px; height: 124px;"
                        data-outlook-trace="F:3|T:3" src="{images[5]}">
                </div>
            </td>
        </tr>
    </tbody>
</table>
<div class="elementToProof"
    style="direction: ltr; font-family: &quot;Poppins Medium&quot;; font-size: 12pt; color: rgb(51, 51, 51);">
    <br>
</div>

<div class="elementToProof"
    style="direction: ltr; font-family: &quot;Poppins Medium&quot;; font-size: 12pt; color: rgb(51, 51, 51);">
    Si alguna le llama la atención, puedo ampliar la información, sin embargo, resalto que cada operación minera es
    única
    y se hace necesario realizar la evaluación completa de las <b>
        <i>condiciones operativas </i>
    </b>junto con vuestro requerimiento de <b>
        <i>durabilidad </i>
    </b>para diseñar el revestimiento.
</div>
<div style="direction: ltr; font-family: &quot;Poppins Medium&quot;; font-size: 12pt; color: rgb(51, 51, 51);">
    <br>
</div>

<div class="elementToProof"
    style="direction: ltr; font-family: &quot;Poppins Medium&quot;; font-size: 12pt; color: rgb(51, 51, 51);">
    Quedo atento a tus comentarios, que tengas un buen día estimado {name},
</div>
<div style="direction: ltr; font-family: &quot;Poppins Medium&quot;; font-size: 12pt; color: rgb(51, 51, 51);">
    Saludos cordiales
</div>